/*=====================
  4.21  facilities scss
==========================*/
.facilities-box {
  background-color: rgba(var(--body-background), 1);
  box-shadow: 0px 2px 8px 0px rgba(var(--black), 0.04);
  padding: calc(12px + (60 - 12) * ((100vw - 320px) / (1920 - 320))) calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  border-radius: 4px;
  > .d-flex {
    margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
    h5 {
      color: rgba(var(--theme-default), 1);
      font-weight: 600;
      @media (max-width: 390px) {
        width: 60%;
      }
    }
    .icon {
      height: 44px;
      width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(var(--theme-default), 0.12);
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 1px solid rgba(var(--theme-default), 0.4);
        animation: effect-round 2s linear 1s infinite;
      }
    }
  }
  h4 {
    font-size: $font-28;
    margin-bottom: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
    transition: all 0.4s ease-in-out;
  }
  p {
    margin-bottom: calc(8px + (22 - 8) * ((100vw - 320px) / (1920 - 320)));
  }
  .facilities-item {
    margin-bottom: calc(12px + (40 - 12) * ((100vw - 320px) / (1920 - 320)));
    li {
      display: flex;
      align-items: center;
      gap: 14px;
      padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      > .facilities-img {
        height: calc(50px + (80 - 50) * ((100vw - 320px) / (1920 - 320)));
        width: calc(50px + (80 - 50) * ((100vw - 320px) / (1920 - 320)));
        background-color: rgba(var(--theme-default), 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: calc(25px + (36 - 25) * ((100vw - 320px) / (1920 - 320)));
          height: calc(25px + (36 - 25) * ((100vw - 320px) / (1920 - 320)));
        }
      }
      .facilities-content {
        width: calc(100% - calc(50px + (80 - 50) * ((100vw - 320px) / (1920 - 320))));
        h6 {
          margin-bottom: 4px;
          font-weight: 700;
        }
        p {
          @include text-ellipsis($line: 2);
          margin-bottom: 0;
        }
      }
    }
  }
  .d-flex {
    .btn {
      white-space: nowrap;
    }
  }
  &:hover {
    h4 {
      color: rgba(var(--theme-default), 1);
    }
  }
}
.facilities-section {
  position: relative;
  overflow: hidden;
  .facilities-baby-img {
    position: absolute;
    right: 0;
    top: 58%;
    transform: translateY(-50%);
    z-index: 2;
    [dir="rtl"] & {
      left: 0;
      right: unset;
      transform: scaleX(-1) translateY(-50%);
    }
    @media (max-width: 1750px) {
      width: 50%;
      right: 10%;
      [dir="rtl"] & {
        left: 10%;
        right: unset;
      }
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }
}
.wave-animation {
  @media (max-width: 1199px) {
    display: none;
  }
  span {
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgba(var(--theme-default), 0.1);
    right: 30%;
    transform: scale(1);
    z-index: -1;
    @media (max-width: 1750px) {
      width: 500px;
      height: 500px;
      right: 16%;
    }
    @media (max-width: 1500px) {
      right: 0;
    }
    @media (max-width: 1300px) {
      width: 400px;
      height: 400px;
    }
    @media (max-width: 1199px) {
      right: 22%;
      width: 350px;
      height: 350px;
    }
    &:nth-child(2) {
      width: 642px;
      height: 642px;
      border-radius: 50%;
      background-color: rgba(var(--theme-default), 0.06);
      right: 28%;
      bottom: -3%;
      transform: scale(1);
      animation: ripple2 3s linear infinite;
      @media (max-width: 1750px) {
        width: 500px;
        height: 500px;
        right: 16%;
        bottom: 0%;
      }
      @media (max-width: 1500px) {
        right: 0;
      }
      @media (max-width: 1300px) {
        width: 400px;
        height: 400px;
      }
      @media (max-width: 1199px) {
        right: 22%;
        width: 350px;
        height: 350px;
      }
    }
  }
}
.facilities-item-2 {
  position: relative;
  margin-top: 100px;
  @media (max-width: 1700px) {
    margin-top: 60px;
  }
  @media (max-width: 1450px) {
    margin-top: 30px;
  }
  .facilities-content {
    padding: 20px;
    ul {
      li {
        width: 100%;
        padding: calc(12px + (36 - 12) * ((100vw - 320px) / (1920 - 320))) 0;
        border-bottom: 1px solid rgba(var(--theme-default), 0.2);
        &:last-child {
          border-bottom: none;
        }
        .d-flex {
          gap: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
          align-items: center;
          .flex-shrink-0 {
            .icon {
              width: 55px;
              height: 55px;
              border-radius: 4px;
              background-color: rgba(var(--body-background), 1);
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              overflow: hidden;
              z-index: 1;
              box-shadow: 0px 2px 8px 0px rgba(var(--black), 0.2);
              &::before {
                transition-duration: 800ms;
                position: absolute;
                width: 200%;
                height: 200%;
                content: "";
                top: 110%;
                left: 50%;
                background-color: rgba(var(--theme-default), 0.1);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                border-radius: 50%;
                z-index: -1;
                transition: all 0.4s ease-in-out;
              }
              @media (max-width: 575px) {
                width: 45px;
                height: 45px;
              }
            }
          }
          .flex-grow-1 {
            h5 {
              margin-bottom: 8px;
              @media (max-width: 1399px) {
                width: 70%;
              }
              @media (max-width: 575px) {
                width: 100%;
              }
            }
            p {
              width: 60%;
              @include text-ellipsis($line: 2);
              @media (max-width: 575px) {
                width: 100%;
              }
            }
          }
        }
        &:hover {
          .d-flex {
            .flex-shrink-0 {
              .icon {
                &::before {
                  top: -40%;
                }
              }
            }
          }
        }
      }
    }
    &.facilities-color {
      border-radius: 12px 0 0 12px;
      background-color: #e6edfa;
      @media (max-width: 1199px) {
        border-radius: 12px;
        margin-bottom: 30px;
      }
      @media (max-width: 575px) {
        margin: 0 15px 20px;
      }
      ul {
        li {
          .d-flex {
            .flex-grow-1 {
              @media (max-width: 1199px) {
                text-align: end;
              }
              h5 {
                color: #223645;
                @media (max-width: 1199px) {
                  float: right;
                }
              }
              p {
                @media (max-width: 1199px) {
                  float: right;
                }
              }
            }
          }
        }
      }
    }
    &.facilities-color2 {
      background-color: rgba(var(--theme-default), 1);
      border-radius: 0 12px 12px 0;
      text-align: end;
      @media (max-width: 575px) {
        margin: 0 15px;
      }
      @media (max-width: 1199px) {
        border-radius: 12px;
        text-align: start;
      }
      ul {
        li {
          border-bottom-color: rgba(var(--white), 0.2);
          .d-flex {
            .flex-grow-1 {
              h5 {
                color: rgba(var(--white), 1);
                float: right;
                @media (max-width: 1199px) {
                  float: left;
                }
              }
              p {
                float: right;
                color: rgba(var(--white), 0.8);
                @media (max-width: 1199px) {
                  float: left;
                }
              }
            }
          }
        }
      }
    }
  }
  .facilities-image {
    position: absolute;
    bottom: 0;
    left: 46%;
    transform: translateX(-50%);
    @media (max-width: 1199px) {
      display: none;
    }
    img {
      height: 560px;
      @media (max-width: 1700px) {
        height: 510px;
      }
      @media (max-width: 1450px) {
        height: 480px;
      }
      @media (max-width: 1399px) {
        height: 510px;
      }
    }
  }
}
@keyframes ripple2 {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
