/*=====================
  2.05 tap top css start
==========================*/
.scroll-progress {
  position: fixed;
  right: 20px;
  z-index: 8;
  top: 50%;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  padding: 10px 8px;
  background-color: rgba(var(--theme-default), 0.1);
  backdrop-filter: blur(4px);
  border: 1px dashed rgba(var(--theme-default), 1);
  border-radius: 4px;
  [dir="rtl"] & {
    right: unset;
    left: 20px;
  }

  .scroll-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scroll-text {
      transform: rotate(180deg);
      writing-mode: vertical-lr;
      margin-bottom: 15px;
      color: rgba(var(--theme-default), 1);
      font-size: $font-14;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .scroll-line {
    width: 3px;
    height: 80px;
    position: relative;
    background-color: rgba(var(--p-text-color), 0.2);
    display: block;
    border-radius: 4px;
  }
  .scroll-point {
    display: inline-block;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: rgba(var(--theme-default), 1);
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
